#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f3f3f3; /* Example: a light grey background */
}

.flight-box {
  border: 1px solid #ccc; /* Gray border */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; /* Rounded corners */
  text-align: left
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  z-index: 1001;
}

p {
  font-size: 14px;
  line-height: 0;
}